* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Use Poppins font by default */
body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  /* font-family: "Open Sans", Arial, sans-serif; */
  /* font-family: "Roboto", Arial, sans-serif; */
  /* font-family: "Poppins", system-ui, sans-serif; */
  /* font-family: "Helvetica", Arial, sans-serif; */
  /* font-family: "Calibri", "Segoe UI", sans-serif; */
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  margin: 2rem;
}

/* Container */
.resume-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 5rem;
  background-color: #ffffff;
  border: 3px solid #000000;
}

/* Header */
header {
  /* background: #f9f9f9; */
  /* padding: 1.5rem; */
  text-align: center;
  color: #333;
  /* border-radius: 8px; */
  /* margin-bottom: 1.5rem; */
}

header h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #000000;
}

header p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

header a {
  color: #333;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 500;
  padding: 0.2rem;
}

header a:hover {
  color: #333;
}

/* Section Headings */
h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #000000;
  font-size: 1.2rem;
  border-bottom: 2px solid #000000;
  padding-bottom: 0.3rem;
  display: inline-block;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-weight: 600;
  color: #000000;
  font-size: 1.1rem;
}

section {
  /* margin-bottom: 1.5rem; */
}

ul {
  margin-left: 1.5rem;
  /* margin-bottom: 1rem; */
  list-style: square;
}

/* ul li {
  margin-bottom: 0.5rem;
} */

/* Project Links */
.project-links a {
  color: #666;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  margin-right: 0.5rem;
}

.project-links a:hover {
  color: #333;
}

/* Tech Stack */
.tech-stack {
  /* font-style: italic; */
  font-weight: 400;
  /* color: #666; */
  /* margin-bottom: 1rem; */
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  body {
    margin: 1rem;
    font-size: 14px;
  }
  header h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  ul {
    margin-left: 1rem;
  }
}
